services:
  tesla-broker:
    build:
      context: .
    image: tesla-broker:local
    ports:
      - "18080:8080"
    environment:
      # If set, broker requires X-Broker-Secret header
      # BROKER_SHARED_SECRET: "change-me"
      
      # Timeouts (milliseconds)
      PAGE_TIMEOUT: "30000"
      NAVIGATION_TIMEOUT: "60000"
    shm_size: "2gb"
